  <script src="https://kit.fontawesome.com/0da69ad906.js" crossorigin="anonymous"></script>
  <script src="../assets/js/script.js"></script>  
  <div class="container-fluid footer"> 
    <p>Tous droits réservés - La Manu Amiens</p>
  </div>
</body>
</html>