<h2 class="p-5">Liste de film Incroyable !</h2>
<div class="container-fluid">
    <div class="row">
        {{#each results.film.results}}
        <div class="col-3">
            <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" width="200" class="img-fluid"
                alt="{{this.title}}">
            <p>{{this.title}}</p>
             <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="" alt=""> 
            </a>
        </div>
        {{/each}}
    </div>
</div>