<div class="mention">
<h1>Informations légales</h1>

<p> Le service Hello Ciné, y compris l'ensemble du contenu fourni, est protégé par les lois et les traités sur le droit d'auteur, les marques déposées, le secret commercial et la propriété intellectuelle.
Droit d'auteur</p>

<p>Les droits d'auteur liés aux séries et aux films diffusés sur le service Hello Ciné sont détenus par de nombreux grands producteurs, dont Hello Ciné Studios, LLC. Si vous estimez que vos droits d'auteur ou ceux d'autrui sont bafoués sur le service Hello Ciné, veuillez nous en informer en remplissant le formulaire de notification de violation de droit d'auteur (www.Hello Ciné.com/copyrights).
Marques déposées</p>

<p>Hello Ciné et le logo N sont des marques déposées de Hello Ciné, Inc.</p>

<p>Si vous n'avez pas obtenu notre autorisation de le faire, veuillez ne pas utiliser les marques de Hello Ciné comme si elles vous appartenaient ou de toute autre manière qui impliquerait un parrainage ou une approbation de la part de Hello Ciné.

Tout produit marqué du nom ou du logoHello Ciné représente l'image de Hello Ciné. À moins que vous ne fassiez partie de nos titulaires de licence, vous n'êtes pas autorisé à produire, vendre ou donner quoi que ce soit portant notre nom ou notre logo.
Brevets</p>

<p>Les services de streaming et de DVD de Hello Ciné sont protégés par des brevets. Pour en savoir plus sur les brevets liés à nos services, veuillez consulter la page www.Hello Ciné.com/patents.
Informations légales concernant des tierces parties

L'application installée sur les appareils compatibles avec Hello Ciné et permettant la diffusion des contenus de Hello Ciné peut contenir des éléments de logiciel ouvert ou des licences logicielles libres (« logiciel ouvert ») et/ou des éléments de logiciel commercial concédés sous licence à Hello Ciné par des tierces parties (« logiciel commercial »). Les Conditions d'utilisation de Hello Ciné ne modifient en rien les droits et obligations qui s'appliquent à vous en vertu de ces licences de logiciel ouvert. Pour en savoir plus sur les éléments de logiciel ouvert et de logiciel commercial, notamment sur les consentements, les mentions et les conditions de licence obligatoires, veuillez consulter ce document en ligne.

Dernière mise à jour : 11 mai 2018</p>
</div>