@import url("https://use.typekit.net/tbb4glg.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1D1D1B;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* NavBar background adrien*/
.backgroundImg{
    background-image: url(../img/accueil.jpg);
    background-size: 100%;
    width: 100%;
    padding-top: 30%;
    background-position: center;
}

/* Position du logo et du burger adrien*/

.logo{
    margin-top: -50%;
}

.burger{
    margin-top: -55%;
}

/* position du titre */

h2 {
  margin-left: 17%;
}

/* position des affiche de film adrien*/

.onbackgroundAL{
    margin-top: -13%;
    
  }

.al {
  padding-left: 17%;
  padding-right: 17%;

}

.logo{
    margin-top: -52.5%;
}
.burger{
    margin-top: -55%;
}
.onbackground{
    margin-top: -10%;
}
.marginSpace{
  padding-top: 15%;
}
/* Barre de Nav Adrien */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    background-image: url(../img/pop.jpg);
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    font-family: coolvetica, sans-serif;
  }
  
  .sidenav a {
    padding: 60px 60px 60px 50px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-size: 45px;
  }
  
  .sidenav a:hover{
    color: #45E6B0;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 100px;
    margin-left: 50px;
  }

  .titleOfMovie{
    color: white;
    font-family: coolvetica, sans-serif; 
    font-size: 22px;
  }

.colorsOfTitle{
    color: #45E6B0;
}
.margOnFilm{
    margin-left: 15%;
    margin-right: 15%;
}
.centerText{
  margin-left: 16%;
}

/* Page SERIES */
.series{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 40px;
  padding: 0px !important;
  margin: 0px;
}

.series>span{
  color: #45E6B0;
  font-weight: bold;
}

.containerSeries{
  padding-left: 15%;
  padding-right: 15%;
  margin-top: -15%;
}

.poster:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* FOOTER */
.footer{
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  padding: 1%;
  margin-top: 4%;
}

/* MEDIA QUERIES */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Responsive */

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
